.bootstrap__table {
    display: grid;
    grid-template-columns: 1.166666667fr 0.833333333fr;
    height: 1300px;
}

.bootstrap__tableLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableLineOne {
    border-right: 1px solid #ededef;
    border-top: 1px solid #ededef;
}

.bootstrap__tableLineTwo {
    border-right: 1px solid #ededef;
}

.bootstrap__tableLineThree {
    border-right: 1px solid #ededef;
    border-bottom: 1px solid #ededef;
}


.bootstrap__tableRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.icon {
    position: absolute;
    z-index: 8;
    padding-top: 15rem;
    padding-left: 3rem;
    opacity: 0.6;
}

.icon2 {
    position: absolute;
    z-index: 7;
    padding-top: 15rem;
}

.icon3 {
    position: absolute;
    z-index: 9;
    margin-top: 10rem;
    margin-left: 7rem;
}

.icon4 {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    margin-left: 7.5rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
}

.bootstrap__tableTitle {
    margin-left: 85px;
    font-size: 57px;
    line-height: 70px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableTwoTitle {
    margin-left: 85px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableText {
    margin-left: 85px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
}


/*BOOTSTRAP TABLE TWO*/


.bootstrap__tableTwo {
    display: grid;
    grid-template-columns: 0.833333333fr 1.166666667fr;
    height: 1300px;
    margin-bottom: -340px;
}

.bootstrap__tableTwoLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableTwoRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.iconTableTwo {
    position: absolute;
    z-index: 7;
    padding-top: 8rem;
    height: 90%;
    width: 100%;
}

.icon2TableTwo {
    position: absolute;
    z-index: 9;
    height: 82.4%;
    width: 100%;
    padding-top: 4rem;
    padding-left: 4rem;
}

.icon3TableTwo {
    position: absolute;
    z-index: 9;
    margin-left: 8.5rem;
}

.bootstrap__tableTwoLeftInfo {
    position: absolute;
}


/*BOOTSTRAP TABLE THREE*/

.icon2TableThree {
    position: absolute;
    z-index: 8;
    padding-top: 12rem;
    padding-left: 2.5rem;
    opacity: 0.6;
}

.iconTableThree {
    position: absolute;
    z-index: 7;
    padding-top: 9rem;
}

.icon3TableThree {
    position: absolute;
    z-index: 9;
    margin-top: 22rem;
    margin-left: 7rem;
}

.icon4TableThree {
    position: absolute;
    z-index: 10;
    margin-top: 22rem;
    margin-left: 2.5rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
}

.bootstrap__tableTitle {
    margin-left: 85px;
    font-size: 57px;
    line-height: 70px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableTwoTitle {
    margin-left: 85px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableText {
    margin-left: 85px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
}

.bootstrap__marginTop {
    margin-top: 180px;
}

@media (max-width: 1440px) {
    .icon3 {
        margin-left: 2.5rem;
        width: auto;
        display: block;
    }

    .icon4 {
        margin-left: 2.8rem;
        width: auto;
        display: block;
    }

    .icon {
        padding-left: 1rem;
    }

    .bootstrap__tableTitle {
        font-size: 38px;
        line-height: 45px;
    }

    .bootstrap__tableText {
        font-size: 15px;
        line-height: 20px;
    }

    .bootstrap__tableTwoTitle {
        font-size: 28px;
        line-height: 31px;
    }
}

@media (max-width: 1440px) {
    .icon {
        width: 750px;
        margin-left: 5rem;
    }

    .icon2 {
        width: 750px;
        margin-left: 5rem;
    }

    .icon3 {
        width: 766px;
        margin-left: 5rem;
    }

    .icon4 {
        width: 765px;
        margin-left: 5rem;
    }

    .why__me {
        margin-bottom: -450px;
    }

    .bootstrap__table {
        height: 1100px;
    }

    .icon3TableTwo {
        width: 700px;
    }

    .iconTableTwo {
        height: 60%;
    }

    .bootstrap__tableTwo {
        margin-bottom: -570px;
    }
    .iconTableThree {
        width: 100%;
    }
    .icon2TableThree {
        width: 100%;
    }
    .icon3TableThree {
        margin-top: 22rem;
        margin-left: 3rem;
        width: 100%;
    }
    .icon4TableThree {
        width: 100%;
        margin-left: 2.5rem;
    }
}

@media (max-width: 1024px) {
    .icon {
        width: 550px;
        padding-top: 10rem;
        margin-left: 1rem;
    }

    .icon2 {
        width: 500px;
        margin-left: 1.7rem;
        margin-bottom: 0rem;
    }

    .icon3 {
        width: 500px;
        margin-left: 3.7rem;
        margin-top: 4.3rem;
    }

    .icon4 {
        width: 500px;
        margin-left: 3.7rem;
        margin-top: 4rem;
    }

    .bootstrap__tableTitle {
        margin-left: 60px;
    }

    .bootstrap__tableText {
        margin-left: 60px;
    }

    .bootstrap__tableTwoTitle {
        margin-left: 60px;
    }

    .bootstrap__table {
        height: 700px;
    }

    .icon3TableTwo {
        width: 100%;
        margin-left: 0rem;
    }

    .icon2TableTwo {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .bootstrap__tableTwo {
        margin-bottom: -624px;
        height: 1078px;
    }
    .icon {
        width: 350px;
        margin-left: 3rem;
    }

    .icon2 {
        width: 350px;
        margin-left: 3rem;
    }

    .icon3 {
        width: 350px;
        margin-left: 3rem;
    }

    .icon4 {
        width: 350px;
        margin-left: 3rem;
    }

    .bootstrap__tableTitle {
        margin-left: 34px;
    }

    .bootstrap__tableText {
        margin-left: 34px;
    }

    .bootstrap__tableTwoTitle {
        margin-left: 34px;
    }

    .bootstrap__marginTop {
        margin-top: 100px;
    }

    .why__me {
        margin-bottom: -700px;
    }
    .icon2TableTwo {
        height: 600px;
    }
    .iconTableTwo {
        height: 41%;
    }
    .icon3TableTwo {
        width: 90%;
        margin-left: 2rem;
    }

    .iconTableThree {
        margin: 15px;
        width: 100%;
    }
    .icon3TableThree {
        margin-top: 15rem;
        margin-left: 1.5rem;
        width: 100%;
    }
    .icon4TableThree {
        margin-top: 15rem;
        margin-left: 1.5rem;
        width: 100%;
    }
}

