.star__project {
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    background: #ededef;
    margin-bottom: -300px;
    display: flex;
}

.star__projectSloy {
    position: relative;
    z-index: 1;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 26%, 100% 76%, 50% 63%, 0 63%, 0 13%);
    background: #966cfd;
}

.star__imageBack {
    position: relative;
    width: 100%;
}

.star__projectLeft {
    position: absolute;
    margin-left: 150px;
    margin-top: 350px;
    z-index: 333;
    width: 50%;
}

.star__projectRight {
    position: absolute;
    z-index: 333;
    width: 45%;
    margin-top: 150px;
    margin-left: 65rem;
}

.star__projectLeftTitle {
    font-size: 49px;
    line-height: 91px;
    color: #ffffff;
    font-weight: 700;
}

.vectorSmart {
    width: 90%;
    position: absolute;
}

.btnStar {
    width: 300px;
    height: 50px;
    border-radius: 32px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15.7rem;
    margin-bottom: 6.1rem;
}

.btnStar-twoSloy {
    width: 300px;
    height: 50px;
    border-radius: 32px;
    background-color: #8a7ebb;
    border: 1px solid #c000ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnStar-threeSloyBefore {
    width: 200px;
    height: 50px;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #cb6ce6;
}

.btnStar-threeSloyAfter {
    width: 300px;
    height: 50px;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #cb6ce6;
}

.btnStar-fourSloyBefore {
    width: 200px;
    height: 50px;
    border-radius: 27px;
    background-color: #c000ff;
}

.btnStar-fourSloyAfter {
    width: 300px;
    height: 50px;
    border-radius: 27px;
    background-color: #c000ff;
}

.btnStar-fourSloyTitle {
    font-size: 27px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    padding: 9px;
    padding-left: 15px;
}

.ellipse-btnStarBefore {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #c000ff;
    margin-right: 1.3rem;
    cursor: pointer;
}

.ellipse-btnStarAfter {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: blue;
    margin-right: 2rem;
    margin-left: 16rem;
    cursor: pointer;
}


.link__starPorject {
    text-decoration: none;
    color: #ffffff;
}

.link__starPorject:hover {
    font-size: 58px;
}

@media (max-width: 1440px) {
    .star__project {
        margin-bottom: -227px;
    }

    .star__projectLeft {
        position: absolute;
        margin-left: 70px;
        margin-top: 200px;
        z-index: 9999 !important;
    }

    .star__projectLeftTitle {
        font-size: 31px;
        line-height: 59px;
        color: #ffffff;
        font-weight: 700;
    }

    .star__projectRight {
        position: absolute;
        z-index: 333;
        width: 45%;
        margin-top: 110px;
        margin-left: 47rem;
    }

    .btnStar {
        margin-top: 11.7rem;
        width: 250px;
        height: 49px;
    }

    .btnStar-twoSloy {
        width: 250px;
        height: 49px;
    }

    .btnStar-threeSloy, .btnStar-fourSloy {
        height: 47px;
    }

    .ellipse-btnStar {
        margin-right: 1rem;
    }

    .ellipse-btnStar {
        width: 18px;
        height: 18px;
    }

    .btnStar-twoSloy, .btnStar {
        width: 177px;
        height: 32px;
    }

    .btnStar-threeSloy, .btnStar-fourSloy {
        height: 30px;
        width: 110px;
    }

    .btnStar-fourSloyTitle {
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        padding: 0px;
        padding-left: 15px;
    }

}


@media (max-width: 1024px) {
    .star__project {
        margin-bottom: -213px;
        min-height: 780px;
        z-index: 0;
    }

    .star__projectSloy {
        min-height: 765px;
    }

    .star__projectRight {
        margin-left: 33rem;
        margin-top: 96px;
    }

    .btnStar {
        margin-top: 8.6rem;
    }

    .btnStar-twoSloy, .btnStar {
        width: 170px;
        height: 30px;
    }

    .btnStar-threeSloy, .btnStar-fourSloy {
        height: 29px;
        width: 115px;
    }

    .star__projectLeftTitle {
        font-size: 26px;
        line-height: 52px;
    }


    .btnStar-fourSloyTitle {
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
        font-weight: 400;
        padding: 0px;
        padding-left: 15px;
    }

    .ellipse-btnStar {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 768px) {
    .star__project {
        min-height: 617px;
        margin-bottom: -149px;
    }

    .star__projectSloy {
        min-height: 612px;
    }

    .star__projectLeft {
        margin-left: 26px;
        margin-top: 136px;
    }

    .star__projectLeftTitle {
        font-size: 22px !important;
        line-height: 40px !important;
    }

    img {
        width: 30px;
    }

    .star__projectRight {
        margin-left: 26rem;
        margin-top: 77px;
    }

    .btnStar {
        margin-top: 6.3rem;
    }

    .btnStar-twoSloy, .btnStar {
        width: 127px;
        height: 22px;
    }

    .btnStar-threeSloy, .btnStar-fourSloy {
        height: 20px;
        width: 80px;
    }

    .btnStar-fourSloyTitle {
        font-size: 12px;
        line-height: 16px;
        padding-left: 5px;
    }

    .ellipse-btnStar {
        width: 10px;
        height: 10px;
    }
}